@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
</head>

<body>
<div class="row">
    <div class="col-md-3">
        <h2>Create New User</h2>
            <form>
                <div>
                    <label>Username</label>
                    <input type="text" placeholder="Choose Username" name="newuser">

                    <label>Password</label>
                    <input type="text" placeholder="Choose Password" name="newpw">

                    <button id="submit" type="submit">Create Account</button>
                </div>
			</form>
	</div>
    <div class="col-md-3">
        <h2>OR</h2>
    </div>
    <div class="col-md-3">
        <a href="../Home/Login"><h2>Login<h2></a
        <ul>
           <!--I'm only keeping this empty UL tag here for CSS reasons
-->
    </div>

</div>

<script type="text/javascript">
		$(document).ready(function(){ 
         
            $("#submit").click(function(evt){
			evt.preventDefault();
			<!--check and see if inputs are empty-->
			$('input[type="text"]').each(function(evt){
                if($(this).val() == ""){
                alert("please enter a valid username and password");

			} else{
                <!--inputs are good, get the values, and store them-->
			    var username = $('[name="newuser"]').val();

			    var password = $('[name="newpw"]').val();
         
                localStorage.username = username;

			    localStorage.password = password;

                <!--upon completion redirect the user to the transaction page-->
                window.location = "http://localhost:5001/Home/Transaction";
			}
			});

        });
    });
        </script>
</body>
</html>